// Kolory
$primary-bg: #f4f7f6;
$secondary-bg: #ffffff;
$primary-text: #333;
$secondary-text: #777;
$accent-color: #007bff;
$border-color: #e0e0e0;
$footer-bg: #f8f9fa;

$dark-primary-bg: #092155;
$dark-secondary-bg: #4b454588;
$dark-primary-text: #f4f7f6;
$dark-secondary-text: #f4f7f6;
$dark-footer-bg: #08132b;
$dark-border-color: #08132b;
// Cienie
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.466);

// Responsywność
$breakpoint-mobile: 768px;